@charset "utf-8";
/* CSS Document */

body {
	background-image:url(../design/background.jpg);
	background-size: 100% auto;
	background-repeat: repeat-y;
}

/* Header with logo and navigation */

header {
	width: 100%;
	height: 110px;
	background: rgba(51,51,51,0.8);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.head-content {
	width: 1080px;
	margin: 0 auto;
}

/* Logo */

.logo {
	float: left;
}

.logo img {
	width: 80px;
	height: 80px;
	margin-top: 15px;
	transition: all 0.8s;
}

.logo img:hover {
	width: 100px;
	height: 100px;
	transform: rotate(1095deg);
	margin-top: 5px;
}

/* Navigation */

.global-nav {
	display: flex;
	width: 800px;
	height: 80px;
	align-items: center;
	float: right;
	padding: 10px;
	border-bottom: 1px solid #000;
}

.global-nav a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: #C8C8C8;
	width: 25%;
	padding: 10px;
	transition: all 1s;
	border-right: 3px solid #36F;
	border-left: 1px solid #0F9;
}

.global-nav a:hover {
	font-size: 24px;
	padding: 25px;
	background:#0CF;
	color: #333;
}

/* Contents */

.portrait {
	width: 800px;
	margin: 25px auto;
}

.portrait img {
	width: 800px;
	object-fit: cover;
	border-radius: 50px;
}

.container {
	width: 960px;
	background: rgba(102,102,255,0.8);
	border-radius: 20px 0;
	margin: 120px auto 150px auto;
	padding: 10px;
}

h1, h2 {
	text-align: center;
	text-shadow: 4px 4px 3px #9999FF;
}

h3 {
	text-decoration: underline;
	text-shadow: 100px 0px 5px #63F;
}

/* Gallery */

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	z-index: 0;
}

.gallery img {
	margin: 5px;
	height: 250px;
	object-fit: cover;
	border: 2px solid #FFF;
	transition: all 1s;
	opacity: 0.2;
}

.gallery img:hover {
	opacity: 1;
}

/* Contact page styling */

.contact {
	width: 300px;
	border-bottom: 1px solid #000;
	margin: auto;
}

/* Footer with signature */

footer {
	background: linear-gradient(#D192C1, #563440);
	border: 1px solid #FFF;
	height: 100px;
	width: 1600px;
	transform: rotate(15deg);
	position: fixed;
	bottom: 0;
	left: -500px;
	padding-left: 0;
	z-index: 9;
}

footer p{
	font-family: cursive;
	font-size: 30px;
	font-weight: bold;
	font-style: oblique;
	color: #CCC;
	margin-left: 0;
	transition: all 1s;
}

footer:hover p {
	margin-left: 520px;
}
